.Camera {
    &__video,
    &__image,
    &__text {
        height: 480px;
        max-width: 100%;
        margin: 0 auto;
        display: none;

        &--show {
            display: block;
        }
    }

    &__video,
    &__image {
        transform: scaleX(-1);
    }

    &__video-wrapper {
        position: relative;
        overflow: hidden;
    }

    &__guide {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__text {
        background: #deded7;
        font-size: 30px;
        color: #73736f;
        justify-content: center;
        align-items: center;
        display: none;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;

        &--show {
            display: flex;
        }

        &--error {
            background: #e83635;
            color: white;
        }
    }

    &__button-wrapper {
        margin: 20px auto;
        text-align: center;
    }

    &__button {
        border: 1px solid #73736f;
        background: #fcfcf4;
        color: #73736f;
        line-height: 40px;
        font-size: 20px;
        padding: 0 20px;
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s;

        & + & {
            margin-left: 20px;
        }

        &:hover,
        &:active {
            background: #deded7;
            color: #73736f;
        }

        &:focus {
            outline-color: black;
        }
    }
}
